/*---------------Root--------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto 400;
  background-color: rgb(56, 112, 218);
  text-align: center;
  margin: 0;
}

h1 {
  display: inline;
  font-family: HACKED, sans-serif;
  font-size: 5em;
  color: #270b0b;
  margin: 50px auto 0 auto;
}

h2 {
  display: inline;
  font-family: Roboto 300 italic;
  color: #081111;
  font-size: 2.5rem;
}

a {
  color: #b2d80b;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #5a501e;
}

p {
  text-align: center;
  width: 600px;
  font-size: 1.2rem;
}

/*-------------Classes-----------------*/

.box-container {
  display: block;
}

.top-container {
  display: inline-block;
  width: 100%;
  height: 700px;
  background-image: url("/images/backgr.png");
}

.middle-container {
  display: block;
  background-color: rgb(198, 240, 45);
}

.bottom-container {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 0;
  background-color: rgb(56, 112, 218);
}

.logo {
  display: inline-block;
}

.logo-2 {
  position: relative;
  bottom: 100px;
}

.profile {
  display: block;
  justify-content: center;
}

.face {
  position: relative;
  width: 15%;
  opacity: 80%;
}

#top-face {
  width: 50%;
  bottom: 150px;
}

.cloud {
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  position: relative;
  width: 15%;
  left: 50px;
}

.computer {
  position: relative;
  width: 20%;
}

.skill-row {
  display: block;
  margin: auto;
}

.skill-border {
  margin: auto;
  padding: 10px;
  border-bottom: dotted 5px;
  border-width: 10px;
  width: 15%;
  border-color: rgb(10, 117, 37);
}

.skill-row-img {
  display: inline-block;
  width: 150px;
  margin-top: 5%;
  margin-right: 50px;
}

.skill-text {
  display: inline-block;
}

.contact-me {
  margin-top: 30px;
}
/*-----------Batton---------------*/

.btn {
  background: #d9bd34;
  background-image: -webkit-linear-gradient(top, #d9bd34, #2980b9);
  background-image: -moz-linear-gradient(top, #d9bd34, #2980b9);
  background-image: -ms-linear-gradient(top, #d9bd34, #2980b9);
  background-image: -o-linear-gradient(top, #d9bd34, #2980b9);
  background-image: linear-gradient(to bottom, #d9bd34, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Georgia;
  color: #0f0d0f;
  font-size: 23px;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
